ul li{
  list-style-type: none;
}

.data{
  float: right;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(3); /* IE */
  -moz-transform: scale(3); /* FF */
  -webkit-transform: scale(3); /* Safari and Chrome */
  -o-transform: scale(3); /* Opera */
  padding: 10px;
  margin-left: 20px;
}

.note {
    display: none;
}
    
a:hover + .note {
    display: block;
}