<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" 
    	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
    	crossorigin="anonymous">
    	
   <link rel="stylesheet" 
    	href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
     	
   	<link rel="stylesheet" type="text/css" media="all" 
          href="/app.css" data-th-href="@{/app.css}" />

	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
	<style type="text/css" class="init"></style>
</head>
<body>
    <div class="container">
  		<div class="page-header">
  			<div class="container">
  				
  				<div class="row">
  			
  					<div class="col-3">
			  			<img src="images/genentech-logo-png-5.png" class="img-fluid" alt="Responsive image">
			  		</div>
			  		<div class="col-9">
			  			<!-- 		<p th:text="'Hello, ' + ${name} + '!'" /> -->
			  			<div class="bd-example">
				  			<nav class="navbar navbar-expand-lg navbar-light bg-light">
							  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
							    <span class="navbar-toggler-icon"></span>
							  </button>
							  <div class="collapse navbar-collapse" id="navbarNav">
							    <ul class="navbar-nav">
							      <li  th:class="${role == 'Manager'}? 'nav-item active' : 'nav-item'" >
							        <a class="nav-link" href="/batch?role=Manager">Manager <span class="sr-only">(current)</span></a>
							      </li>
							      <li th:class="${role == 'User'}? 'nav-item active' : 'nav-item'">
							        <a class="nav-link" href="/batch?role=User">User</a>
							      </li>
							      <li th:class="${role == 'Stakeholder'}? 'nav-item active' : 'nav-item'">
							        <a class="nav-link" href="/batch?role=Stakeholder">Stakeholder</a>
							      </li>
							      <li th:class="${role == 'Destroyer'}? 'nav-item active' : 'nav-item'">
							        <a class="nav-link" href="/batch?role=Destroyer" tabindex="-1" >Destroy</a>
							      </li>
							    </ul>
							  </div>
							</nav>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
    
    <div class="container-fluid">    
	    <div id="exmaple_wrapper" class="dataTables_wrapper dt-bootstrap4">
		    <table id="example" class="table hover table-striped table-bordered" style="width:100%">
		        <thead>
		            <tr>		                
		                <th></th>
		                <th></th>
		                <th>Title</th>
		                <th>First Name</th>
		                <th>Last Name</th>
		                <th>Full Name</th>
		                <th>Updated Date</th>
		                <th>Key Type</th>
		                <th>Created</th>
		                <th>Created By</th>
		            </tr>
		        </thead>
		        <tbody>
                    <tr th:each="registration,iter : ${registrations}">
		                <td class="details-control" th:text="${registration.taskId}">NA</td>
		                <td class="details-control" th:text="${iter.index}">0</td>
		                <td class="details-control" th:text="${registration.title}">Some Title</td>
		                <td class="details-control" th:text="${registration.firstName}">Some Name</td>
		                <td class="details-control" th:text="${registration.lastName}">Some Last Name</td>
		                <td class="details-control" th:text="${registration.fullName}">Some Full Name</td>
		                <td class="details-control" th:text="${registration.updatedDate}">02/01/2020</td>
		                <td class="details-control" th:text="${registration.businessKey}">12345</td>
 						<td class="details-control" th:text="${registration.created}">02/01/2020</td>
		                <td class="details-control" th:text="${registration.createdBy}">djane</td>
		            </tr>
		        </tbody>
		        
		        <tfoot>
		            <tr>
		                <th></th>
		                <th></th>
		                <th>Title</th>
		                <th>First Name</th>
		                <th>Last Name</th>
		                <th>Full Name</th>
		                <th>Updated Date</th>
		                <th>Key Type</th>
		                <th>Created</th>
		                <th>Created By</th>
		            </tr>
		        </tfoot>
		    </table>
	    </div>
	</div>

	<!-- Form block for manager role -->
     <div  th:if="${role == 'Manager'}" class="container px-lg-5">
       <form id="assign-form" name="assign-form" method="post" action="/complete">
		  <div class="form-row mx-lg-n5">
		    <div class="col-3 py-3 px-lg-5 bg-light">
		        <select class="form-control" name="User" id="User" placeholder="Select User">
			      <option>demo</option>
			      <option>Dave</option>
			      <option>Jane</option>
			      <option>Carl</option>
			      <option>Sam</option>
			      <option>Falko</option>
			    </select>			  
		    </div>
<!--
 		    <div class="col-7 py-3 px-lg-5 bg-light">
		    	<textarea rows="3" cols="50" placeholder="Note" name="note" id="note"></textarea>
		    </div>
 -->
 		    <div class="col-2 py-3 px-lg-5 bg-light">
		    	<input type="hidden" id="tasks" name="tasks" value="" />
		    	<input type="hidden" id="priorities" name="priorities" value="" />
		    	<input type="hidden" id="role" name="role" th:value="${role}" />
		    	<button type="submit" id="assign" class="btn btn-primary">Apply</button>	      
		    </div>
		  </div>
	  </form>
	</div>
	
	<!-- Form block for user role -->
    <div  th:if="${role == 'User'}" class="container px-lg-5">
       <form id="assign-form" name="assign-form" method="post" action="/complete">
		  <div class="form-row mx-lg-n5">
		    <div class="col-3 py-3 px-lg-5 bg-light">
		        <select class="form-control" name="instruction" id="instruction" placeholder="Select User">
               	    <option value="">Choose Instruction</option>
				    <!--<option value="1">Instruction 1</option>-->
				    <!--<option value="2">Instruction 2</option>-->
				    <!--<option value="3">Instruction 3</option>-->
				    <!--<option value="4">Instruction 4</option>-->
					<option value="1">Require new data file from stakeholder.</option>
					<option value="2">These samples need further assessment (general).</option>
					<option value="3">New labeling needs to be applied.</option>
					<option value="4">Recommend for destruction.</option>
				</select>
		    	<br>
		        <select class="form-control" name="User" id="User" placeholder="Select User">
			      <option>demo</option>
			      <option>Dave</option>
			      <option>Jane</option>
			      <option>Carl</option>
			      <option>Sam</option>
			      <option>Falko</option>
			    </select>			  
		    
		    </div>
		    
		    <div class="col-7 py-3 px-lg-5 bg-light">
		    	<textarea rows="3" cols="50" placeholder="Case Note" name="note" id="note"></textarea>
		    </div>
		    <div class="col-2 py-3 px-lg-5 bg-light">
		    	<input type="hidden" id="tasks" name="tasks" value="" />
		    	<input type="hidden" id="priorities" name="priorities" value="" />		    	
		    	<input type="hidden" id="role" name="role" th:value="${role}" />
		    	<button type="submit" id="assign" class="btn btn-primary">Apply</button>	      
		    </div>
		  </div>
	  </form>
	</div>

	<!-- Form block for stakeholder role -->
    <div  th:if="${role == 'Stakeholder'}" class="container px-lg-5">
       <form id="assign-form" name="assign-form" method="post" action="/complete">
		  <div class="form-row mx-lg-n5">
		    <div class="col-3 py-3 px-lg-5 bg-light">
		        <select class="form-control" name="response" id="response" placeholder="Select User">
				    <!--<option value=""></option>-->
				    <option value="update">Update</option>
				    <option value="destroy">Destroy</option>
				    <option value="unresolve">Unresolveable</option>
			    </select>			  
		    </div>
		    <div class="col-7 py-3 px-lg-5 bg-light">
		    	<textarea rows="3" cols="50" placeholder="Case Note" name="note" id="note"></textarea>
		    </div>
		    <div class="col-2 py-3 px-lg-5 bg-light">
		    	<input type="hidden" id="tasks" name="tasks" value="" />
		    	<input type="hidden" id="role" name="role" th:value="${role}" />
		    	<button type="submit" id="assign" class="btn btn-primary">Apply</button>	      
		    </div>
		  </div>
	  </form>
	</div>

	<!-- Form block for destroyer role -->
    <div th:if="${role == 'Destroyer'}" class="container px-lg-5">
       <form id="assign-form" name="assign-form" method="post" action="/complete">
		  <div class="form-row mx-lg-n5">
		    <div class="col-3 py-3 px-lg-5 bg-light">
			    <div class="form-check">
			      <input class="form-check-input" type="checkbox" id="confirm">
			      <label class="form-check-label" for="confirm">
			        Confirm Destruction
			      </label>
			    </div>
		    </div>
		    <div class="col-7 py-3 px-lg-5 bg-light">
		    	<textarea rows="3" cols="50" placeholder="Case Note" name="note" id="note"></textarea>
		    </div>
		    <div class="col-2 py-3 px-lg-5 bg-light">
		    	<input type="hidden" id="tasks" name="tasks" value="" />
		    	<input type="hidden" id="role" name="role" th:value="${role}" />
		    	<input type="hidden" id="approved" name="approved" th:value="true" />
		    	<button type="submit" id="assign" class="btn btn-primary">Apply</button>	      
		    </div>
		  </div>
	  </form>
	</div>

	



    
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>

<script th:inline="javascript">

      /*<![CDATA[*/
	    
         var org = /*[[${addedOrgName}]]*/ 'Org Name';
		 console.log(org);
		 
       /*]]>*/
</script> 

<script th:inline="javascript">
/*<![CDATA[*/
         
	var addedOrgName = /*[[${registrations[0].addedOrgName}]]*/ 'Org Name';
	var addedOrgPartyNumber = /*[[${registrations[0].addedOrgPartyNumber}]]*/ 'Org Name';
	var newIuName = /*[[${registrations[0].newIuName}]]*/ 'Org Name';
	var newIuNumber = /*[[${registrations[0].newIuNumber}]]*/ 'Org Name';
	var newIuPrimAccContEmail = /*[[${registrations[0].newIuPrimAccContEmail}]]*/ 'Org Name';
	var newIuPrimOrgName = /*[[${registrations[0].newIuPrimOrgName}]]*/ 'Org Name';
	var newIuPrimAccContFname = /*[[${registrations[0].newIuPrimAccContFname}]]*/ 'Org Name';
	var newIuPrimAccContLname = /*[[${registrations[0].newIuPrimAccContLname}]]*/ 'Org Name';
	var newIuPrimAccContPhone = /*[[${registrations[0].newIuPrimAccContPhone}]]*/ 'Org Name';
	var newIuPrimOrgPartyNumber = /*[[${registrations[0].newIuPrimOrgPartyNumber}]]*/ 'Org Name';
		 
/* Formatting function for row details - modify as you need */
	function format ( d ) {
	    // `d` is the original data object for the row
	    return 	'<div class="container">'+
		
		   '<div class="container" style="height: 500px">'+
		
		       '<div class="row">'+  
		       
		          '<div class="col-12"> REQUEST SUMMARY </div>'+
		       
		       '</div>'+
		
		       '<br/>'+
		       
		       '<div class="container">'+
		
		           '<div class="row">'+
		
		               '<div class="col-12">'+
		
		                   '<div class="content-text">Added Laboratory</div>'+
		
		               '</div>'+

	               '</div>'+

		               '<div class="row">'+
		
		                   '<div class="col-2">Name: </div>'+
		
		                   '<div class="col-2">'+addedOrgName+'</div>'+
		
		               '</div>'+
		
		               '<div class="row">'+
		
		                   '<div class="col-2">CAP #: </div>'+
		
		                   '<div class="col-2">'+addedOrgPartyNumber+'</div>'+
		
		               '</div>'+
		
		           '</div>'+

		           '<br/>'+
		
		           '<div class="container">'+
		
		               '<div class="row">'+
		
		                   '<div class="col-12">New Inspection Group</div>'+
		
		               '</div>'+
		
		               '<div class="row">'+
		
		                   '<div class="col-2">Name: </div>'+
		
		                   '<div class="col-2">'+newIuName+'</div>'+
		
		               '</div>'+
		
		               '<div class="row">'+
		
		                   '<div class="col-2">ID Number: </div>'+
		
		                   '<div class="col-2">'+newIuNumber+'</div>'+
		
		               '</div>'+
		
		               '<div class="row">'+
		
		                   '<div class="col-2">Primary Laboratory and CAP #: </div>'+
		
		                   '<div class="col-2">'+newIuPrimOrgName+'<br/>'+newIuPrimOrgPartyNumber+'</div>'+
		
		               '</div>'+

				       '<br/>'+

		               '<div class="container">'+
		
		                   '<div class="content-text-left">Primary Lab Accreditation Contact: </div>'+
		
		                   '<div class="content-text-right">'+
		
		                     ' '+newIuPrimAccContFname+' '+newIuPrimAccContLname+'<br/>'+
		
		                     ' '+newIuPrimAccContPhone+'<br/>'+
		
		                     '<a href="mailto:'+newIuPrimAccContEmail+'">'+newIuPrimAccContEmail+'</a>'+
		
		                   '</div>'+
		
		               '</div>'+
		
		           '</div>'+
		
		
		       '</div>'+
		
		   '</div>'+
		
		'</div>';
	}

	$(document).ready(function() {
// 		debugger 
		var table = $('#example').DataTable( {
				        
	        initComplete: function () {
				this.api().columns().every( function () {
					var column = this;
					var select = $('<select><option value=""></option></select>')
							.appendTo( $(column.footer()).empty() )
							.on( 'change', function () {
								var val = $.fn.dataTable.util.escapeRegex(
										$(this).val()
								);

								column
										.search( val ? '^'+val+'$' : '', true, false )
										.draw();
							} );

						column.data().unique().sort().each( function ( d, j ) {
						select.append( '<option value="'+d+'">'+d+'</option>' )
					} );
				} );
			}
		} );
				
        // Hide comlumns that don't need to be displayed
        var column = table.columns( [0,1] ).visible( false );
 
        // toggle the column colors
		$('#example tbody').on( 'click', 'tr', function () {
			$(this).toggleClass('selected');

			var row = table.row( $(this) );
	 
	        if ( row.child.isShown() ) {
	            // This row is already open - close it
	            row.child.hide();
	            tr.removeClass('shown');
	        }
	        else {
	            // Open this row
	            row.child( format(row.data()) ).show();
	            tr.addClass('shown');
	        }
		} );

		
		$('button#assign').click( function() {
			
	        var data = table.column( 0 , { search:'applied' } ).data().toArray();
	        var selectedRowIds = table.column( 1 , { search:'applied' } ).data().toArray();

	        var selectedRows = table.rows('.selected').data();
	        if (selectedRows.length > 0) {
				var selectedTaskIds = selectedRows.map(row => row[0]).toArray();
				selectedRowIds = table.rows('.selected').indexes()
// 		        console.log(selectedTaskIds);
		        data = selectedTaskIds;
	        }
		    var selectedPriorities = selectedRowIds.map(index => $('#select-priority-' + index).val()).toArray();
 			console.log(data);
 			console.log(selectedPriorities);
			console.log($('select#User').val());
			console.log($('textarea#note').val());
			
			$('input#tasks').val(data);
			$('input#priorities').val(selectedPriorities);
			
		}); 	
	} );
	
    /*]]>*/
</script>
</body>
</html>
