<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" 
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
		crossorigin="anonymous">
</head>

<body>

	<div class="request-box">
	
	   <div class="title-block" style="height: 500px">
	
	       <div class="title-text"> REQUEST SUMMARY </div>
	
	       <div>
	
	           <div class="top-block">
	
	               <div class="content-block">
	
	                   <div class="content-text">Added Laboratory</div>
	
	               </div>
	
	               <div class="content-block">
	
	                   <div class="content-text-left">Name: </div>
	
	                   <div class="content-text-right">{{added_org_name}}</div>
	
	               </div>
	
	               <div class="content-block">
	
	                   <div class="content-text-left">CAP #: </div>
	
	                   <div class="content-text-right">{{added_org_party_number}}</div>
	
	               </div>
	
	           </div>
	
	           <div class="request-outline">
	
	               <div class="content-block">
	
	                   <div class="content-text">New Inspection Group</div>
	
	               </div>
	
	               <div class="content-block">
	
	                   <div class="content-text-left">Name: </div>
	
	                   <div class="content-text-right">{{new_iu_name}}</div>
	
	               </div>
	
	               <div class="content-block">
	
	                   <div class="content-text-left">ID Number: </div>
	
	                   <div class="content-text-right">{{new_iu_number}}</div>
	
	               </div>
	
	               <div class="content-block">
	
	                   <div class="content-text-left">Primary Laboratory and CAP #: </div>
	
	                   <div class="content-text-right">{{new_iu_prim_org_name}}<br/>{{new_iu_prim_org_party_number}}</div>
	
	               </div>
	
	               <div class="content-block">
	
	                   <div class="content-text-left">Primary Lab Accreditation Contact: </div>
	
	                   <div class="content-text-right">
	
	                     {{new_iu_prim_acc_cont_fname}} {{new_iu_prim_acc_cont_lname}}<br/>
	
	                     {{new_iu_prim_acc_cont_phone}}<br/>
	
	                     <a href="mailto:{{new_iu_prim_acc_cont_email}}">{{new_iu_prim_acc_cont_email}}</a>
	
	                   </div>
	
	               </div>
	
	           </div>
	
	           <div class="request-outline">
	
	               <div class="content-block">
	
	                   <div class="content-text">Previous Inspection Group</div>
	
	               </div>
	
	               <div class="content-block">
	
	                   <div class="content-text-left">Name: </div>
	
	                   <div class="content-text-right">{{prev_iu_name}}</div>
	
	               </div>
	
	               <div class="content-block">
	
	                   <div class="content-text-left">ID Number: </div>
	
	                   <div class="content-text-right">{{prev_iu_number}}</div>
	
	               </div>
	
	               <div class="content-block">
	
	                   <div class="content-text-left">Primary Laboratory and CAP #: </div>
	
	                   <div class="content-text-right">{{prev_iu_prim_org_name}}<br/>{{prev_iu_prim_org_party_number}}</div>
	
	               </div>
	
	               <div class="content-block">
	
	                   <div class="content-text-left">Primary Lab Accreditation Contact: </div>
	
	                   <div class="content-text-right">
	
	                     {{prev_iu_prim_acc_cont_fname}} {{prev_iu_prim_acc_cont_lname}}<br/>
	
	                     {{prev_iu_prim_acc_cont_phone}}<br/>
	
	                     <a href="mailto:{{prev_iu_prim_acc_cont_email}}">{{prev_iu_prim_acc_cont_email}}</a>
	
	                   </div>
	
	               </div>
	
	           </div>
	
	       </div>
	
	   </div>
	
	</div>

</body>

</html>
